

.invalid
{
    border:1px solid red;
}
.product-summary {
    display: flex;
    align-items: center;
    margin-bottom: 2em;
    gap: 1em;
}

.product-card {
    width: 20em;
    object-fit: cover;
}

.product-info {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}


.purchase-form {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.form-group {
    width: 20em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}
.page-main
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}
input, select, button {
    padding: 0.8em;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button.next-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 1em;
}

button.next-button:hover {
    background-color: #45a049;
}

#backButton {
    position: fixed;
    top: 0;
    left: 0;
    font-size: 0.5em;
    height: 2.26em;
    background: #333;
    color: white;
    border: none;
    padding: 0.5em 1em;
    cursor: pointer;
    margin-bottom: 1em;
}

#backButton:hover {
    background: #555;
}